body {
	-webkit-font-smoothing: antialiased;
}

.app-container, #mainLayout {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.tab {
	display: none;

	&.active {
		display: block;
	}
}

.page {
	.navbar-inner {
		display: none;
	}
}